.sidenav {
    height: 100%;
    width: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}